<!--TEST-->
<header class="header indigo z-depth-1">
  <img src="http://www.praxisemr.com/images/testimonials_images/dr_profile.jpg"
       alt="" class="circle responsive-img">

  <h1>Lucas Suarez</h1>

  <p>Front-End Developer</p>

  <nav class="indigo z-depth-1">
    <div class="nav-wrapper">
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <!--<a href="#" class="brand-logo center logonCell">Logo</a>-->
        <i class="material-icons" (click)="menuToggle()">menu</i>
      </a>
      <ul class="center hide-on-med-and-down">
        <li><a href="#">About me</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Posts</a></li>
      </ul>
      <ul class="side-nav fontColor" id="mobile-demo">
        <li><a href="#">About me</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Posts</a></li>
      </ul>
    </div>
  </nav>
</header>
<!--END TEST-->


<main>
  <!--Contenido-->
  <app-content></app-content>
  <!--Fin Contenido-->
</main>



