<nav>
  <div class="nav-wrapper #303F9F indigo">
    <a href="#!" class="brand-logo">Logo</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse">
      <i class="material-icons" (click)="menuToggle()">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
  </div>
</nav>

<main>
  <div class="container">
    <div class="row">
      <div class="col s12 m12">
        <div class="card blue-grey darken-1">
          <!--<div class="card-image">-->
          <!--</div>-->
          <!--<div class="card-content white-text">-->
            <!--<span class="card-title">Portafolio</span>-->
            <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</main>


